/* all */
body {
    font-family: 'Poppins', sans-serif !important;

}

a {
    color: #000 !important;
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lora', serif;
}

h1 {
    font-size: 36px;
    letter-spacing: 2px;
    font-weight: 400;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 20px !important;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400;
}

h4 {
    font-size: 17.5px !important;
    font-weight: 500 !important;
}

h5 {
    font-size: 14px !important;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400;
}

h6 {
    font-size: 14px;
}

/* navigation */
/* Custom CSS */
.nav-link.active {
    text-decoration: underline;
    /* Change text decoration for active link */
}

#nav-icon1 {
    width: 25px;
    height: 18px;
    position: relative;
    cursor: pointer;
}

.navbar-light .navbar-toggler,
.navbar-toggler:focus {
    border-color: none;
    border: none;
    box-shadow: none !important;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    list-style: none;
}

.navbar-collapse {
    padding-left: 20px;
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    margin-top: 20px;
    border-top: 1px solid black;
}

#nav-icon1 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #000000;
    border-radius: 0px;
    opacity: 1;
    left: 0;
    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 0px;
}

#nav-icon1 span:nth-child(2) {
    top: 8px;
}

#nav-icon1 span:nth-child(3) {
    top: 16px;
}

.navbar-light .navbar-nav .nav-link {
    color: black !important;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus-visible {
    color: #000000;
    border: 0px !important;
    box-shadow: none !important;
}

a:focus {
    outline: none;
}

#nav-icon1.open span:nth-child(1) {
    top: 8px;
    transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon1.open span:nth-child(3) {
    top: 8px;
    transform: rotate(-135deg);
}

.dropdown-menu {
    border: 0px !important;
}

.nav-item {
    padding-right: 10px;
}

.dropdown-item:focus,
.dropdown-item:hover,
.dropdown-item.active,
.dropdown-item:active {
    background-color: #e9ecef !important;
}

/* header logo */
/* Mobile styles (up to 767px) */
@media (max-width: 767px) {

    /* Mobile-specific styles */
    /* Example: Adjust font size or padding for smaller screens */
    .img-custom {
        max-width: 38vw !important;
    }

    .hide-mobile {
        display: none !important;
        height: 0;
    }

    .hide-mobile-tablet {
        display: none !important;
        height: 0;
    }

    .web-design-body {
        top: -40px !important;
        position: relative;
    }

    .card {
        background-color: transparent;
    }

    .portfolio-item {
        position: relative;
        min-height: 150px;
        overflow: hidden;
        background-position: center center;
        background-size: cover;
        /* Ensure the background image covers the entire column */
        background-repeat: no-repeat;
        /* Prevent the background image from repeating */
        height: 100%;
        /* Ensure the column's height matches the content */
        transition: transform 0.3s ease;
        /* Add transition for smooth zoom effect */
        transition: box-shadow 0.3s ease;
        /* Add smooth transition for hover effect */
        border: 1px solid black;
    }

    .portfolio-item-web {
        position: relative;
        min-height: 180px;
        overflow: hidden;
        background-position: center top;
        background-size: cover;
        /* Ensure the background image covers the entire column */
        background-repeat: no-repeat;
        /* Prevent the background image from repeating */
        height: 100%;
        /* Ensure the column's height matches the content */
        transition: transform 0.3s ease;
        /* Add transition for smooth zoom effect */
        transition: box-shadow 0.3s ease;
        /* Add smooth transition for hover effect */
        border: 1px solid black;
    }
    
    .portfolio-item-graphic:hover {
        color: white;
        cursor: pointer;
        border: 1px solid black !important;
        background-size:  180% auto;
        background-position: center center;
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
        /* Adjust the values as needed */
    }

    .portfolio-item-graphic {
        position: relative;
        min-height: 250px;
        overflow: hidden;
        background-position: center center;
        background-size: cover;
        /* Ensure the background image covers the entire column */
        background-repeat: no-repeat;
        /* Prevent the background image from repeating */
        height: 100%;
        /* Ensure the column's height matches the content */
        transition: transform 0.3s ease;
        /* Add transition for smooth zoom effect */
        transition: box-shadow 0.3s ease;
        /* Add smooth transition for hover effect */
        border: 1px solid black;
    }
}

/* Tablet styles (768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {

    /* Tablet-specific styles */
    /* Example: Adjust layout for tablet screens */
    .img-custom {
        max-width: 27vw !important;
    }

    .row.px-4.body-row.web-design-body {
        top: -50px;
        position: relative;
    }

    .hide-mobile-tablet {
        display: none !important;
        height: 0;
    }

    .hide-desktop-tablet {
        display: none !important;
        height: 0;
    }

    .portfolio-item-web:hover {
        color: white;
        cursor: pointer;
        border: 1px solid black !important;
        background-size: auto 180%;
        background-position: top center;
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
        /* Adjust the values as needed */
    }

    .portfolio-item {
        position: relative;
        min-height: 250px;
        overflow: hidden;
        background-position: center center;
        background-size: cover;
        /* Ensure the background image covers the entire column */
        background-repeat: no-repeat;
        /* Prevent the background image from repeating */
        height: 100%;
        /* Ensure the column's height matches the content */
        transition: transform 0.3s ease;
        /* Add transition for smooth zoom effect */
        transition: box-shadow 0.3s ease;
        /* Add smooth transition for hover effect */
        border: 1px solid black;
    }

    .portfolio-item-web {
        position: relative;
        min-height: 150px;
        overflow: hidden;
        background-position: center top;
        background-size: cover;
        /* Ensure the background image covers the entire column */
        background-repeat: no-repeat;
        /* Prevent the background image from repeating */
        height: 100%;
        /* Ensure the column's height matches the content */
        transition: transform 0.3s ease;
        /* Add transition for smooth zoom effect */
        transition: box-shadow 0.3s ease;
        /* Add smooth transition for hover effect */
        border: 1px solid black;
    }
    
    .portfolio-item-graphic:hover {
        color: white;
        cursor: pointer;
        border: 1px solid black !important;
        background-size:  180% auto;
        background-position: center center;
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
        /* Adjust the values as needed */
    }

    .portfolio-item-graphic {
        position: relative;
        min-height: 180px;
        overflow: hidden;
        background-position: center center;
        background-size: cover;
        /* Ensure the background image covers the entire column */
        background-repeat: no-repeat;
        /* Prevent the background image from repeating */
        height: 100%;
        /* Ensure the column's height matches the content */
        transition: transform 0.3s ease;
        /* Add transition for smooth zoom effect */
        transition: box-shadow 0.3s ease;
        /* Add smooth transition for hover effect */
        border: 1px solid black;
    }
}

/* Desktop styles (992px and above) */
@media (min-width: 992px) {

    /* Desktop-specific styles */
    /* Example: Adjust layout for desktop screens */
    .img-custom {
        max-width: 18vw !important;
    }

    .hide-desktop {
        display: none !important;
        height: 0;
    }

    .hide-desktop-tablet {
        display: none !important;
        height: 0;
    }

    ul.dropdown-menu.social-menu.show {
        left: -4em;
    }

    .portfolio-item {
        position: relative;
        min-height: 400px;
        overflow: hidden;
        background-position: center center;
        background-size: cover;
        /* Ensure the background image covers the entire column */
        background-repeat: no-repeat;
        /* Prevent the background image from repeating */
        height: 100%;
        /* Ensure the column's height matches the content */
        transition: transform 0.3s ease;
        /* Add transition for smooth zoom effect */
        transition: box-shadow 0.3s ease;
        /* Add smooth transition for hover effect */
        border: 1px solid black;
    }

    .portfolio-item-web:hover {
        color: white;
        cursor: pointer;
        border: 1px solid black !important;
        background-size: auto 180%;
        background-position: top center;
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
        /* Adjust the values as needed */
    }

    .portfolio-item-web {
        position: relative;
        min-height: 100px;
        overflow: hidden;
        background-position: top;
        background-size: cover;
        /* Ensure the background image covers the entire column */
        background-repeat: no-repeat;
        /* Prevent the background image from repeating */
        height: 100%;
        /* Ensure the column's height matches the content */
        transition: transform 0.3s ease;
        /* Add transition for smooth zoom effect */
        transition: box-shadow 0.3s ease;
        /* Add smooth transition for hover effect */
        border: 1px solid black;
    }

    .portfolio-item-graphic:hover {
        color: white;
        cursor: pointer;
        border: 1px solid black !important;
        background-size:  180% auto;
        background-position: center center;
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6);
        /* Adjust the values as needed */
    }

    .portfolio-item-graphic {
        position: relative;
        min-height: 220px;
        overflow: hidden;
        background-position: center center;
        background-size: cover;
        /* Ensure the background image covers the entire column */
        background-repeat: no-repeat;
        /* Prevent the background image from repeating */
        height: 100%;
        /* Ensure the column's height matches the content */
        transition: transform 0.3s ease;
        /* Add transition for smooth zoom effect */
        transition: box-shadow 0.3s ease;
        /* Add smooth transition for hover effect */
        border: 1px solid black;
    }
}

/* home cat */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    background-position: center left;
    transition: background-size 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    /* Smooth transition effect with cubic-bezier easing */
}

.portfolio-item:hover .overlay {
    opacity: 100%;
}

.overlay-content,
.overlay-content:hover {
    text-align: center;
    color: #000;
    font-size: 14pt;
    font-weight: 500;
    letter-spacing: 3px;
}

.portfolio-item:hover {
    color: white;
    cursor: pointer;
    border: 1px solid black !important;
    background-size: auto 120%;
    background-position: center center;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6) !important;
    /* Adjust the values as needed */
}


/* resume */
.card {
    border: 0px !important;
    box-shadow: none;
}

.ul-resume {
    list-style: disc;
    padding-left: 30px !important;
    /* Adjust the indentation as needed */
}

.li-resume {
    margin-bottom: 5px;
    /* Adjust the spacing between list items as needed */
}

/* web design */
/* web cat */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    background-position: center top;
    transition: background-size 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    /* Smooth transition effect with cubic-bezier easing */
}

.portfolio-item-web:hover .overlay {
    opacity: 100%;
}

.overlay-content,
.overlay-content:hover {
    text-align: center;
    color: #000;
    font-size: 14pt;
    font-weight: 500;
    letter-spacing: 3px;
}

.gallery-img {
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.gallery-img:hover {
    opacity: 0.7;
}

.zoom-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #000;
    /* Adjust color as needed */
    cursor: pointer;
    z-index: 1;
    /* Ensure icon is above the image */
}

/* graphic design */

    /* Add this style block */
    #digital-gallery .col-md-3 {
      
        min-height: 200px;
        /* Set the desired fixed height */
      }

/* motion graphic */
/* CSS to maintain aspect ratio of embedded video */
.video-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 aspect ratio */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* footer */
.border-bottom-custom {
    border-bottom: 1px solid #000 !important;
}

.social-icons a {
    font-size: 20pt;
}

.footer a:hover {
    color: #000 !important;
    text-decoration: underline !important;
}