.title-container {
    display: flex;
    flex-direction: row;
    /* Ensure the columns are in a row */
    max-width: calc(100vw - 60px);
    margin: 40px 30px;
}

.title-left-column {
    flex: 0 0 30%;
    /* 30% width on desktop and tablet */
}

.title-right-column {
    flex: 0 0 calc(70% - 0px);
    /* 70% width on desktop and tablet */
    justify-content: center;
    text-align: end;
}

.text-column-about{
    text-align: justify; /* Justifies the text */
    width:93%;
}
.title-left-row,
.title-right-row {
    max-width: 100%;
    padding-bottom: 20px;
}

.digital {
    font-size: calc(30vw/20 * 7);
    line-height: calc((30vw/20 * 7) - 20px);
}
.artist {
    font-size: calc(30vw/15.5 * 6);
    line-height: calc((30vw/15.5 * 6) - 20px);
}
.ux-ui-designer { 
    font-size: calc(70vw/75 * 13.5);
    line-height: calc((70vw/75 * 13.5) - 15px);
    white-space: nowrap;
}
.web-designer { 
    font-size: calc(70vw/75 * 14);
    line-height: calc((70vw/75 * 14) - 15px);
    white-space: nowrap;
}
.graphic-designer { 
    font-size: calc(70vw/75 * 10.75);
    line-height: calc((70vw/75 * 10.75) - 15px);
    white-space: nowrap;
}
.motion-designer { 
    font-size: calc(70vw/75 * 11.5);
    line-height: calc((70vw/75 * 11.5) - 15px);
    white-space: nowrap;
}
.wordpress-designer { 
    font-size: calc(70vw/75 * 9.18);
    line-height: calc((70vw/75 * 9.18) - 15px);
    white-space: nowrap;
}
.title-image-border {
    border: 0.5px solid var(--black);
    max-width: 100%;
    aspect-ratio: 5 / 3;
    /* 5:3 aspect ratio */
    object-fit: cover;
    /* Maintain aspect ratio and cover */
}

.title-image-aspect-ratio {
    max-width: 100%;
    aspect-ratio: 6 / 4;
    /* 6:4 aspect ratio */
    object-fit: cover;
    border: 0.5px solid var(--black);
    /* Maintain aspect ratio and cover */
}

.about-text {
    font-size: 18px;
}
@media (min-width: 1040px) {
.about-text {
    font-size: 25px;
}
}
@media (min-width: 1255px) {
.about-text {
    font-size: 30px;
}
}
@media (min-width: 1470px) {
.about-text {
    font-size: 35px;
}
}
@media (max-width: 768px) { /* Tablet and mobile view */
    .text-column-about{
        text-align: justify; /* Justifies the text */
        max-width:100%;
        width:100%;
    }
    .digital {
        font-size: calc(70vw / 20 * 7);
        line-height: calc((70vw / 20 * 7) - 20px);
    }
    .artist {
        font-size: calc(70vw / 15.5 * 6);
        line-height: calc((70vw / 15.5 * 6) - 20px);
    }

.ux-ui-designer { 
    font-size: calc(80vw/70* 13.3);
    line-height: calc((80vw/70 * 13.3) - 5px);
    white-space: nowrap;
}
.web-designer { 
    font-size: calc(80vw/70 * 14);
    line-height: calc((80vw/70 * 14) - 5px);
    white-space: nowrap;
}
.graphic-designer { 
    font-size: calc(80vw/70 * 10.75);
    line-height: calc((80vw/70 * 10.75) - 5px);
    white-space: nowrap;
}
.motion-designer { 
    font-size: calc(80vw/70 * 11.5);
    line-height: calc((80vw/70 * 11.5) - 5px);
    white-space: nowrap;
}
.wordpress-designer { 
    font-size: calc(80vw/70 * 9.18);
    line-height: calc((80vw/70 * 9.18) - 5px);
    white-space: nowrap;
}
    .title-container {
        display: flex;
        flex-direction: row; /* Keep columns in a row */
        overflow-x: auto; /* Allow horizontal scroll */
        scroll-snap-type: x mandatory; /* Optional: smooth snapping on mobile */
    }
    .title-left-column {
        flex: 0 0 80%; /* Left column takes up 80% of mobile screen */
        max-width: 80%; /* Ensure left column maxes at 80% */
        padding: 10px;
    }

    .title-right-column {
        flex: 0 0 100%; /* Right column shows 20% initially */
        max-width: 100%; /* Restrict right column to 20% on mobile */
        padding: 10px;
        display: inline-block;
    }

    .title-container::-webkit-scrollbar {
        display: none; /* Hide scroll bar for a cleaner look */
    }

    .title-container {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}
@media (min-width:769px) {
.title-left-row,
.title-right-row {
    padding-right: 25px;
}
}