* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgba(221, 219, 211, 0);
    width: 100%;
    padding: 10px 0;
    position: relative;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border-bottom: .5px solid var(--darkgray);
    height: 95px;
}

.header-row {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;    
    z-index: 5;
}

.open-menu .header-row {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;    
    z-index: 5;
    background-color: var(--midgray);
    top: -10px;
    height: 95px;
}

.location {
    position: absolute;
    left: 50px;
    text-align: left;
}

.location h6 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: var(--darkgray);
    transition: color 0.3s ease;
}

.logo {
    padding: 10px 0px;    
    text-align: center;
}

.logo img {
    max-height: 50px;
    transition: filter 0.3s ease;
}

.hamburger-menu {
    cursor: pointer;
    position: absolute;
    right: 15px;
    display: flex;
    justify-content: flex-end;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20px;
    height: 20px;
    transition: all 0.3s ease;
}

.hamburger:hover {
    transform: scale(1.2);
}

.hamburger span {
    transform-origin: center;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--darkgray);
    transition: all 0.3s ease;
}

@media(max-width:767px) {
    .hamburger.open span:nth-child(1) {
        transform: rotate(45deg) translate(0px, 9px);
    }

    .hamburger.open span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open span:nth-child(3) {
        transform: rotate(-45deg) translate(0px, -10px);
    }
}

@media(min-width:768px) {
    .hamburger.open span:nth-child(1) {
        transform: rotate(45deg) translate(1px, 5px);
    }

    .hamburger.open span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open span:nth-child(3) {
        transform: rotate(-45deg) translate(4px, -8px);
    }
}

.open-menu .hamburger span {
    background-color: var(--primary);
}

/* Fullscreen menu inside the header */
.fullscreen-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--darkgray);
    overflow-y: auto; /* Enable scrolling if content exceeds screen height */
}

.fullscreen-menu.open-menu {    
    display: block;
    z-index: 4;
}

.fullscreen-menu .menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
    padding: 280px 0px 280px 0px;
}

.fullscreen-menu ul {
    list-style-type: none;
    text-align: center;
    margin-top: -50px;
    padding: 0 20px;
}

.fullscreen-menu li {
    margin: 0px 0;
}

.fullscreen-menu a {
    font-family: "Baleny", serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -2px;
    text-decoration: none;
    font-size: 80px;
    line-height: 120px;
    color: var(--primary);
    display: inline-block;
    overflow: hidden;
    transition: letter-spacing 0.3s ease;
    transform: scaleY(1.5);
}

.fullscreen-menu a:hover {
    letter-spacing: 3px;
}

.fullscreen-menu a.active {
    color: var(--lightgray);
}

body.open-menu header {
    background-color: var(--midgray) !important;
}

body.open-menu {
    overflow-y: hidden; /* Prevent body scrolling when menu is open */
}

body.open-menu .location h6 {
    color: var(--primary);
}

body.open-menu .logo img {
    content: url('../images/logo/logo-inverted.png');
}

body.open-menu .hamburger span {
    background-color: var(--primary);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .location {
        display: none;
    }

    .header-row {
        justify-content: space-between;
    }

    .logo {
        padding: 25px 0px 15px;       
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width:1024px) {
    .logo img {
        max-height: 30px;
    }
}

@media (min-width: 769px) and (max-width:1024px) {
    .logo {
        padding: 10px 0px 0px 0px;
        margin-left: auto;
        margin-right: auto;
    }
    header {
        height: 65px;
    }

    .open-menu .header-row {
        color: var(--primary);
        height: 65px;
    }
}
